<!-- views/employees.ejs code... -->

<%- include('layout') %>

    <h2 class="employees-heading">Employees</h2>
    <form action="<% if (employee._id > 0 ) { %> 
                 '/employee/update/<%= employee._id %>' 
                 <% } else { %> 
                 '/employee/create/'
                 <% } %>" method="<% if (employee._id > 0 ) { %> 
                    'PUT' 
                    <% } else { %> 
                    'POST'
                    <% } %>">

        <input type="hidden" name="_id" id="_id" value="<%= employee._id >">

        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" required><%= employee.firstName ></input>

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" required><%= employee.lastName ></input>

        <label for="department">Department</label>
        <select name="department" id="department" required>
            <% departments.forEach(department=> { %>
                <option value="<%= department._id %>"> 
                    <%= employee.department._id == department._id ? 'selected' : '' %> 
                    <%= department.name %>
                </option>
                <% }) %>
        </select>

        <button type="submit">
            <% if (employee._id > 0 ) { %> Update Employee <% } else {  %> Add Employee <% } %>
        </button>
    </form>

    <ul class="employee-lists">
        <% employees.forEach(employee => { %>
            <li>
                <%= employee.firstName %> - <%= employee.lastName %>
            </li>
            <li>
                <a class="btn btn-raised btn-primary" href="/employee/edit/<%= employee._id %>">Edit</a>
            </li>
            <li>
                <a class="btn btn-raised btn-danger" href="/employee/delete/<%= employee._id %>">Delete</a>
            </li>
            <% }) %>
    </ul>
